@charset "utf-8";
.p1 {
	height: 300px;
	margin: 5px;
	background-image: url(https://i.pinimg.com/564x/53/15/fb/5315fb53fe2499b2081fea84ca93a985.jpg);
	background-position: center center;
	background-size: cover;
}
.p2 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/e8/d5/1d/e8d51d8afb2d923d989a847cc67dbe4e.jpg);
	background-position: center center;
	background-size: cover;
}
.p3 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/93/21/62/932162f2ef066c7a283f769078143ceb.jpg);
	background-position: center center;
	background-size: cover;
}
.p4 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/e6/cd/91/e6cd91ed7eb670586cf379780f7c1eee.jpg);
	background-position: center center;
	background-size: cover;
}
.p5 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/50/f4/4c/50f44c2e74beeb26860b1ec395806dee.jpg);
	background-position: center center;
	background-size: cover;
}
.p6 {
	margin: 5px;
	height: 600px;
	background-image: url(https://i.pinimg.com/564x/d4/42/a8/d442a896392b19805eb2cd74f66e2f1e.jpg);
	background-position: center center;
	background-size: cover;
}
.p7 {
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/9d/ef/63/9def63ff50a91f67a90bfa9bb0139578.jpg);
	background-position: center center;
	background-size: cover;
}
.p8 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/37/7e/04/377e04ec56ee71473307e83cc94c3830.jpg);
	background-position: center center;
	background-size: cover;
}
.p9 {
	background-image: url(https://i.pinimg.com/564x/dd/5d/71/dd5d712fe0a8f9d67e764afee577e1be.jpg);
	background-position: center center;
	margin: 5px;
	background-size: cover;
	height: 300px;
}
.p10 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/b0/1f/89/b01f89717cf69a707ed8c87bfe5f3c34.jpg);
	background-position: center center;
	background-size: cover;
}
.p11 {
	background-image: url(https://i.pinimg.com/564x/ce/18/e7/ce18e7bd461fb3f28093c3b58c00821b.jpg);
	background-position: center center;
	background-size: cover;
	margin: 5px;
	height: 300px;
}
.p12 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/2b/fb/d5/2bfbd506a1ad69a9a9d3c22fd16c9367.jpg);
	background-position: center center;
	background-size: cover;
}
.p13 {
	margin: 5px;
	height: 300px;
	background-image: url(https://i.pinimg.com/564x/f8/16/73/f816731ed14be7fc76d2115e44a32ec1.jpg);
	background-position: center center;
	background-size: cover;
}







.title {
	height: 100px;
	margin: 5px;
	background-color: #ED5929;
}
.word {
	margin-right: auto;
	margin-left: auto;
	font-size: 60px;
	text-align: center;
	color: #FFFFFF;
}
